* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--tg-theme-bg-color);
    /* background-color: black; */
    color: var(--tg-theme-text-color);
}

.success {
    background-color: #4caf50 !important;
}
